@model IEnumerable<HatliFood.Models.DeliveryGuy>

@{
    ViewData["Title"] = "Index";
}


 <a asp-action="AdminHome" asp-controller="Home" >
      <i class="bi bi-arrow-left-square-fill px-2 mt-3  mx-3 btn-success btn"></i>
 </a>
<h2 class="text-center mb-5 mt-2 ">Delivery Guys Manager</h2>


@if (@Model.Count() > 0)
{
    <table class="table table-hover table-striped mx-5 " style="width:90%!important">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                          <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-success mx-2">Edit</a> |
                          <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-secondary mx-2">Details</a> |

                           <a  class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</a>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete this?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>

                                  <div class="modal-footer">

                                     <form asp-action="Delete" method="post">
                                           <input type="hidden" value="@item.UserId" name="id" />
                                           <input type="submit" value="Delete" class="btn btn-danger" />
                                           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </form>

                                </div>

                                </div>
                              </div>
                            </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
        <div class="alert alert-danger m-auto text-center fs-5" style="width:80%;"> No DeliveryGuy now... </div>

}
