<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="~/vendors/feather/feather.css">
  <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
  <!-- end inject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="~/css/AdminLayout/style.css">
 
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" asp-action="Index" asp-controller="Home"><img src="~/Image/HomePage/logo.png" class="mr-2" alt="logo"/>HatliFood</a>
        <a class="navbar-brand brand-logo-mini" asp-action="Index" asp-controller="Home" ><img src="~/Image/HomePage/logo.png"  alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
       

        <!-- Admin Account in Navbar -->
        <ul class="navbar-nav navbar-nav-right">
         
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                <div class="profile"><img src="~/Image/AdminPage/admin.png" alt="image"><span class="offline"></span></div>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          
         
        </ul>
        
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
     
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav list-unstyled">
          <li class="nav-item">
            <span class="nav-link" >
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </span>
          </li>

          <!-- Resturant Dropdown -->
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                 <img src="~/Image/AdminPage/ResturantIcon.png" style="width:20px;height:20px; margin-right:10px;"/>
                 <span class="menu-title"> Manage Resturants
                 </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                  @RenderSection("ResturantDropDown",false)

              </ul>
            </div>
          </li>

          <!-- Delivery Dropdown -->

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Delivery-dropdown" aria-expanded="false" aria-controls="Delivery-dropdown">
              <img src="~/Image/AdminPage/delivery-man.png" style="width:20px;height:20px; margin-right:10px;"/>

              <span class="menu-title"> Manage DeliveryGuys </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Delivery-dropdown">
              <ul class="nav flex-column sub-menu">
                @RenderSection("DeliveryDropDown",true)
            </ul>
            </div>

          </li>

          <!-- Buyers Dropdown -->

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Buyers-dropdown" aria-expanded="false" aria-controls="Buyers-dropdown">             
              <img src="~/Image/AdminPage/consumer.png" style="width:20px;height:20px; margin-right:10px;"/>
              <span class="menu-title">Buyers</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Buyers-dropdown">
              <ul class="nav flex-column sub-menu">
                  @RenderSection("BuyersDropDown",true)
              </ul>
            </div>
          </li>

          
         
        
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
            <!-- Cards -->
            <div class="col-md-9 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4"> Number of Resturants</p>
                      <p class="fs-30 mb-2">
                           @RenderSection("numberOfResturants",true)
                      </p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                       <p class="mb-4"> Number of Buyers</p>
                      <p class="fs-30 mb-2">
                          @RenderSection("numberOfBuyers",true)
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                     <div class="card-body">
                       <p class="mb-4"> Number of Delivery Guys</p>
                      <p class="fs-30 mb-2">
                          @RenderSection("numberOfGus",true)
                      </p>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>


          </div>

        </div>
        <!-- content-wrapper ends -->
      
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    @RenderBody()
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->

  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script src="~/vendors/js/vendor.bundle.base.js"></script>
  <!-- end inject -->


  <!-- End plugin js for this page -->

  <script src="~/js/AdminTemplete/template.js"></script>
  <script src="~/js/AdminTemplete/settings.js"></script>

  <!-- Custom js for this page-->
  <script src="~/js/AdminTemplete/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

