@model IEnumerable<HatliFood.Models.Order>

@{
    ViewData["Title"] = "Index";
}


<div class="m-4 mb-5">
    <a asp-action="MyOrders" class="btn btn-success mx-2">My Orders</a>
    <a asp-action="Stage1" class="btn btn-success mx-2">Current Order</a>
    <a asp-action="Stage2" class="btn btn-success mx-2">Delivering</a>
    @*<a asp-action="Stage3" class="btn btn-primary">Delivering</a>*@
</div>

<table class="table table-hover table-striped mx-4" style="width:90%!important">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer.Addresses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.Addresses)
            </td>
            <td>
                <a asp-action="Edit1" asp-route-id="@item.Id" class="btn btn-primary">Accept Order</a> 
            </td>
        </tr>
}
    </tbody>
</table>
