@model HatliFood.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyerUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyerUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Did)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Did)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryGuyUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryGuyUser.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.ImgPath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
