@model IEnumerable<HatliFood.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyerUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Did)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryGuyUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Did)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryGuyUser.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.ImgPath)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
