@using System.Text.Json
@using static HatliFood.Controllers.CartsController;
@using HatliFood.Models;
@inject UserManager<IdentityUser> UserManager;
@{
    var allcookies = ViewBag.AllCookies;
    Buyer UserInfo = ViewBag.UserInfo;

}

<h2 class="text-center mt-5 mb-5">My Cart</h2>
<div class="container">
    <div class="row d-flex flex-wrap mx-auto">
        @foreach (var cookie in allcookies)
        {
            var item = JsonSerializer.Deserialize<CartProperties>(cookie);
            <div class="card col-md-4 col-xs-12 mb-4 mx-auto" style="box-shadow: 1px 2px 5px #59889a;">
                @*<img src="~/Image/Resturants/@item.ImgPath" alt="image" style="width:120px ; height:120px" class="rounded-circle m-auto pt-2" />*@
                <div class="card-body">
                    <h5 class="card-title text-center py-2">@item.Name</h5>
                    <h5 class="card-title text-center py-2">Quantity : @item.Quantity</h5>
                    <h5 class="card-title text-center py-2">Price: @item.Quantity  *  @item.Price</h5>
                    <div class="row">
                        @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn-primary btn col-4"> Edit </a>*@
                        <a asp-action="DeleteItem" asp-route-id="@item.Id" class="btn-danger btn col-6 mx-auto">Remove item from cart</a>
                    </div>
                </div>
            </div>
        }

    </div>

    @{
        CartProperties item0 = JsonSerializer.Deserialize<CartProperties>(allcookies[0]);
        <div class="mb-3 m-auto text-center w-50">
        <a class="btn btn-danger" asp-action="ViewRestaurantMenu" asp-controller="Restaurants" asp-route-id="@item0.RestaurantId">Add another items to your cart</a>
        </div>
    }

    <div class="container mb-5">
        <div class="row">
            <div class="card col-md-5 col-xs-12 mx-auto btn-light text-decoration-none" style="box-shadow: 1px 2px 5px #59889a;">
                <h6 class="py-2">@UserInfo.FirstName.ToUpperInvariant() @UserInfo.LastName.ToUpper()</h6>
                @*@Html.DropDownList("custID", null, htmlAttributes: new { @class = "form-control" }) address*@
                @*@Html.DropDownList("Id", ViewBag.Addresses, "Select Address", new { @class = "form-control" })*@
                <h1>ViewBag.Addresses</h1>

            </div>
            <div class="card col-md-5 col-xs-12 mx-auto btn-light text-decoration-none" style="box-shadow: 1px 2px 5px #59889a;">
                <h5 class="py-2">Payment method</h5>


                @{
                    decimal subTotal = 0.00m;
                    const decimal deliveryFee = 20.00m;


                    @foreach (var cookie in allcookies)
                    {
                        var itemx = JsonSerializer.Deserialize<CartProperties>(cookie);

                        subTotal += itemx.Quantity * itemx.Price;

                    }
                    decimal tax = (subTotal + deliveryFee) * 0.14m;
                    decimal orderTotal = (subTotal + deliveryFee) * 1.14m;

                    <div class="d-flex justify-content-between">
                        <h5 class="">Subtotal</h5>
                        <h5 class="">@subTotal <span style="color:lightgray;font-size:1rem">EGP</span></h5>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h5 class="">Delivery Fees</h5>
                        <h5 class="">@deliveryFee <span style="color:lightgray;font-size:1rem">EGP</span></h5>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h5 class="">Tax <span style="color:lightgray;font-size:1rem">14%</span></h5>
                        <h5 class=""> @tax<span style="color:lightgray;font-size:1rem">EGP</span></h5>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h5 class="">Order total </h5>
                        <h5 class=""> @orderTotal <span style="color:lightgray;font-size:1rem">EGP</span></h5>
                    </div>
                }
                <form method="post">
                    <div class="col-12">
                        <input type="radio" name="PaymentMethod" value="cash" /> <span>Cash on delivery</span>
                    </div>
                    <div class="col-12">
                        <input type="radio" name="PaymentMethod" value="Paypal" /> <span>Paypal</span>
                    </div>
                    <a id="paypal-btn"></a>
                </form>
            </div>
        </div>

    </div>
</div>

<script>
    var orderTotal = @orderTotal;
</script>

@section Scripts{
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>


        let _total = parseFloat(orderTotal.toFixed(2));


            paypal.Button.render({
                env: 'sandbox',
                client: {
                    sandbox: 'AQnz6FSFh2AxDARxlg-apbMq2qx4av8UU5DO4ckroBcfz8cG5EDFXiJYAmuQyg2JeqyCVyMBuHlLuuqL',

                },
                locale: 'en_US',
                style: {
                    size: 'small',
                    color: 'gold',
                    shape: 'pill'
                },
                commit: true,

                payment: function(data, actions){
                    return actions.payment.create({
                        transactions: [{
                            amount: {
                            total: _total,
                                currency: 'USD'
                            }
                        }]
                    });
                },

            onAuthorize: function (data, actions) {
                actions.payment.execute()
                var url = '@Url.Action("PlaceOrder", "Orders", new {})';
                window.location.href = url;
            }

        }, '#paypal-btn');
    </script>
    }


