@model IEnumerable<HatliFood.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center mt-5 mb-5">All Resturants </h2>


   @* <p>
        <button asp-action="Create" class="float-right btn-primary btn mx-5" style="float-right;">Create New</button>
    </p>*@
<div class="container">
    
        <div class="row d-flex flex-wrap mx-5"  style="margin-left:50px" >

            @foreach (var item in Model)
            {

                 <div class="card col-md-4 col-xs-12 mb-4 mx-1" style="width:31%;">
                     <img src="~/Image/Resturants/@item.ImgPath" alt="image" style="width:120px ; height:120px" class="rounded-circle m-auto pt-2"/>

                   <div class="card-body">
                            <h5 class="card-title text-center py-2">@item.Name</h5>
                        <div class="row">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn-primary btn col-3 "> Edit</a> 
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn-success btn col-4 mx-2"  > Details</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger btn   col-4 ">Delete</a>
                        </div>

                   </div>

                 </div>
            }

           <a class="card col-md-3 col-xs-12 mb-4 btn-light mx-2" asp-action="Create">
                <span  class="btn mx- fs-4 m-auto" style="float-right;">Create New</span>

            </a>  

        </div>
           
    
</div>


@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgPath)
                    <img src="~/Image/Resturants/@item.ImgPath" alt="image" style="width:100px ; height:100px" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
