@model HatliFood.Models.Restaurant
@using HatliFood.Models;

@{
    ViewData["Title"] = "ViewRestaurantDetails";
    Dictionary<int, List<MenuItem>> MenuItemsInCat = ViewBag.ItemsInCategories;
}

<script src="~/js/cookielibrary.js"></script>
<script src="~/js/additemtocart.js"></script>

<h1>@Model.Name</h1>

<div>

    @foreach (Category cat in ViewBag.Categories)
    {
        <h1>@cat.Name</h1>

        @foreach (MenuItem item in MenuItemsInCat[cat.Id])
        {
            <div class="text-center  border border-1 border-light">
                <div style="display:flex;justify-content:space-around">
                    <div>
                        <p> @item.Name </p>
                        <p> @item.Price </p>
                        <p> @item.Description </p>
                    </div>
                    <img src="~/image/resturants/@item.ImgPath" class="rounded" style="width:150px;height:150px">
                </div>
                <button class="btn btn-success w-25" onclick="AddItemToCart(@item.Id , '@item.Name' , @item.Price , '@item.ImgPath' , '@item.Description')" >Add to cart</button>
            </div>


            


        }


    }



</div>

@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
